html {
    font-size: 10px; 
    font-family: "Lucida Console", sans-serif; 
    background-image: url('../PUBLIC/gif1.gif');

  }
h2 {
    text-align: center;
    color: rgb(34, 169, 4);

  }
a{
  font-size: 12px;
  border: 1.5px solid black;
  color: rgb(34, 169, 4);
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
 

  
body {
    width: 600px;
    margin: 0 auto;
    background-color: #000000;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(34, 169, 4);
    color: rgb(34, 169, 4);


}
h1 {
    margin: 0;
    padding: 20px 0;
    color: rgb(34, 169, 4);
  }
